@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face{
        font-family: "TrebuchetMS";
        src: url('fonts/TrebuchetMS.ttf');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face{
        font-family: "BebasNeue";
        src: url('fonts/BebasNeue.otf');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face{
        font-family: "WebSymbolsRegular";
        src: url('fonts/websymbols-regular-webfont.eot');
        src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/websymbols-regular-webfont.woff') format('woff'),
             url('fonts/websymbols-regular-webfont.ttf') format('truetype'),
             url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    .font-symbol {
        font-family: "WebSymbolsRegular";
    }

    .font-bebas {
        font-family: "BebasNeue";
    }

    .font-trebuchet {
        font-family: "TrebuchetMS";
    }
}

@layer components {
    /* Estilos Menu */

    .menu-item {
        @apply 
            tracking-wider 
            flex-1
            md:mx-5
            md:flex-none
        ;
    }

    .menu-item-a {
        @apply block transition duration-200 hover:text-blue-light transform  hover:scale-125;
    }

    /* Estilos banner */

    .text-banner {
        font-family: "BebasNeue";
        text-shadow: 2px 2px 1px black;
    }

    /* Estilos card */

    .card {
        @apply 
            flex-1
            h-80
            border-2
            border-gray-200
            shadow-md
            bg-white
            overflow-hidden
            m-5
            px-5
            mt-10
            cursor-pointer
            transition
            duration-300
        ;
    }

    .card-item {
        @apply
            block
            w-full
        ;
    }

}